name: Release

on:
  push:
    paths:
      - '.changeset/**'
      - 'packages/**'
      - '.npmrc'
      - 'biome.json'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
      - 'tsconfig.build.json'
      - 'tsconfig.json'
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: github.repository == 'amandaguthrie/panda-css-presets'
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create release (changesets/action)
      id-token: write # OpenID Connect token needed for provenance
      pull-requests: write # to create pull request (changesets/action)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # This makes actions fetch all git history so changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build packages
        run: pnpm build

      - name: Publish packages
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          # Use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          GITHUB_TOKEN: ${{secrets.GH_PAT}}

      - name: Release to dev tag
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          pnpm release:dev:version
          pnpm release:dev:publish
        env:
          # Use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          GITHUB_TOKEN: ${{secrets.GH_PAT}}